.gitignore

# IntelliJ project files #
.idea
classes
out
build
*.class

# Eclipse project files #
.classpath
.project
.settings

# Gradle #
gradlew*
gradle.properties
.gradle
gradle

# Maven #
target

# Package Files #
*.jar
*.war
*.ear